*{
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }

  .header {
    padding: 30px;
    text-align: center;

  .columnaizquierda {
    float: left;
    width: 73%;
  }


  .columnaderecha {
    float: left;
    width: 27%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }


  /* diviciones */
  .divicion {
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 30px 10px 20px #aaa;
    box-shadow: inset 0px 0px 40px rgb(44, 42, 42),
                    0px 0px 40px #aaa;
  }


  .todo:after {
    content: "";
    display: table;
    clear: both;

  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  .texto{
    text-shadow: 3px 3px 5px rgb(156, 138, 138),
               6px 6px 5px rgb(78, 80, 78),
               9px 9px 5px rgb(0, 0, 0);
  }

  .contactoprincipal {
  	font-size: 16px;
      font-family: 'Lato', sans-serif;
  }

  .container {
  	max-width: 450px;
  	height: auto;
  	background-color: #EFEFEF;
  	margin: 5% auto;
  	padding-bottom: 1rem;

  }

  .form_top {
  	width: 100%;
  	text-align: center;
  	padding: 2rem 0 1rem;
  	border-top: solid .4rem rgb(1, 2, 2);
  	margin-bottom: 1rem;
  }


  .form__reg {
  	padding: 0 2rem;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  }

  .btn__form {
  	display: flex;
  	justify-content: space-around;
  	margin-top: 1rem;
  }

  .input, .btn__submit, .btn__reset{
  	background-color: #EFEFEF;
  	padding: .5rem;
  	margin: .5rem 0;
  	border: none;
  	border-bottom: solid #C8C8C8 .2rem;
  	transition: all .5s;
  }

  .input:focus {
  	border-bottom: solid #F39B53 .2rem;
  }

  .btn__submit, .btn__reset {
  	width: 40%;
  	border-bottom: none;
  	background-color: rgb(41, 48, 51);
  	color: white;
  }

  .btn__reset {
  	background-color: rgb(237, 53, 53);
  }

  .btn__submit:hover {
  	background-color: rgb(0, 1, 2);
  }

  .btn__reset:hover{
  	background-color: #FA9535;
  }
